<app-todo-list></app-todo-list>
<!--
<h1>{{title}}</h1>
<form (ngSubmit)="create(newLabel.value)">
    <input #newLabel/>
  </form>
  <ul *ngIf="obsTodolist | async as TDL">
    <li *ngFor="let item of TDL.items">
      <input type="checkbox"
             [ngModel]="item.isDone"
             (ngModelChange)="updateItem(item, {isDone: $event})" />
      <form (ngSubmit)="updateItem(item, {label: labItem.value})">
        <input [ngModel]="item.label" #labItem name="dian" />
      </form>
      <button (click)="remove(item)">supprimer</button>
    </li>
  </ul>
  <pre>
    {{ obsTodolist | async | json }}
  </pre>
-->
  


